/*Хелперы*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*В примере хидден отличается рт моего и имг тоже заданы общие стили*/
/*Общие стили*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

a {
  color: #000;
}

/* Враппер*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* Шапка сайта*/
.main-header {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.4;
}

/*Основная навигация*/
.site-navigation {
  list-style: none;
}

.site-navigation a,
.cart-navigation {
  text-decoration: none;
}

/*Наведение*/
.site-navigation a:hover,
.cart-navigation:hover {
  color: #fb565a;
}

/*Нажатие*/
.site-navigation a:active,
.cart-navigation:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-list {
  list-style: none;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

/*Секция с услугами*/
.services-link {
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.services-link--red {
  background-color: #fb565a;
}

.services-link--red:hover {
  background-color: #e74246;
}

.services-link--red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.6);
}

.services-link--green {
  background-color: #00ca74;
}

.services-link--green:hover {
  background-color: #00bc6c;
}

.services-link--green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.6);
}

.services-link--yellow {
  background-color: #efc84a;
}

.services-link--yellow:hover {
  background-color: #eab534;
}

.services-link--yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.6);
}

/* Каталог */
.heading-block {
  background-color: #eeeeee;
  text-align: center;
  padding: 60px 0 120px;
  margin-bottom: 60px;
}

.heading-text {
  font-size: 55px;
  line-height: 55px;
  background-color: #eeeeee;
}

/*Фильтры*/
.filter-list {
  list-style-type: none;
  padding-left: 0;
}

.filter-type legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-item label {
  line-height: 20px;
}

.filter-button {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #eeeeee;
  border: none;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(255, 255, 255, 0.6);
}

/* Единица каталога */
.catalog-item {
  list-style: none;
}

.catalog-item  a {
  text-decoration: none;
}

.catalog-item-info {
  display: none;
  background-color: #eee;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item-subtitle {
  line-height: 18px;
  color: #666666;
}

.catalog-button {
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

/* Форма обратной связи */
.contacts {
  display: none;
}

/*Флекс контейнер для навигации*/
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  padding: 0 24px;
}

/*Флекс контейнер для футера */
.footer-container {
  display: flex;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 54px;
}

.footer-list {
  display: flex;
  margin: 0;
  padding: 0 130px 0 0;
}

.footer-list li {
  list-style: none;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  margin-right: 10px;
  background-color: #e1e1e1;
  line-height: 80px;
  text-align: center;
}

.footer-slogan-heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-slogan-text {
  line-height: 22px;
}

/*секция Услуги*/
.services {
  padding: 80px 0;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.services-item {
  flex-basis: 300px;
  margin-right: 60px;
}

/*Страница каталога*/
.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.catalog-list {
  width: 760px;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  margin-bottom: 65px;
  width: 360px;
}

.about-us-heading {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 35px;
}

.about-us-subheading {
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 45px;
}

.about-us-list {
  list-style: none;
  margin-top: 35px;
}

.about-us-list li {
  margin-bottom: 30px;
}
/*Вставила по замечаниям наставника ширину блока с картинкой хотя в хтмлке есть она, ширина на 68 строке*/
.about-us-numbers {
  width: 360px;
}

.about-us-numbers-heading {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  padding-bottom: 40px;
}

/*Вставила по замечаниям наставника ширинуотступа  между ячейками*/

.about-us-table {
  border-spacing: 0;
}

.about-us-table th {
  font-size: 45px;
  line-height: 11px;
  font-weight: 500;
  padding-bottom: 25px;
  width: 33,3333333%;
}

/*-- Блок маркетинга -флексы --*/
.about-us-container {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 700px;
}

/*Псевдоэлементы
корзинка */
a.cart-navigation {
  position: relative;
}

.cart-navigation::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 7.5px;
  left: -40px;
  background-image: url("../img/cart-icon.svg");
}

/* Красные черточки перед лишками.*/
.about-us-list li {
  position: relative;
}

.about-us-list li::before {
  content: "";
  left: -35px;
  top: 50%;
  margin-top: -1px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: red;
  font-weight: 500;
}

/*Шапки сверху серые на сайты*/
.catalog-item {
  position: relative;
}
/*Исправлено позиционирование по замечаниям наставника*/
.catalog-item::before {
  content: "";
  position: relative;
  width: 360px;
  height: 40px;
  top: 0px;
  left: 0px;
  display: block;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
  transition: opacity 0.2s;
}

.catalog-item:hover:before {
  opacity: 1;
}

/*Особенности Разметка сложного фильтра*/

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


/*Стилизация радиокнопок в виде псевдоэлементов- особенности*/
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;
  padding-left: 30px;
}

/*Стилизуем чекбоксы*/

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 50%;
  left: 0px;
  margin-top: -11.5px;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
}

input[type="checkbox"]:checked + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
}

/*Стилизуем радиобаттоны*/
/*Первое состояние- выключено*/
input[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 0px;
  margin-top: -12.5px;
  background-image:url("../img/radio-off.svg");
  opacity: 0.4;
}

input[type="radio"]:checked + label::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.4;
}

.filter-list li {
  margin-bottom: 15px;
}

/*Слайдер*/

.slider {
    position: relative;

    background-color: #eeeeee;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;

    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;

    background: #ffffff;

    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item {
    display: none;
    padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}

.button {
    display: block;
    width: 240px;
    padding: 13px 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

/*Пагинация*/

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}
/*Состояние покоя-#еее */
.pagination-item a {
  display: block;
  padding: 10px 19px;
  text-decoration: none;
  color: #010101;
  background-color: #eeeeee;
  border-radius: 3px;
}
/*Наведение -dfdfdf ,нажатие и активный пункт-d5d5d5*/
.pagination-item a:hover {
 background-color: #dfdfdf;
}

.pagination-item a:focus,
.pagination-item a:active {
  background-color: #d5d5d5;
}
/*Первая клавиша при наведении*/

.pagination-item-current a {
  padding: 8px 17px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #bfbfbf;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}
