/*Хелперы*/

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*Общие стили*/

body {
  color: #000000;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
}

/* Враппер*/

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1160px;
}

/* Шапка сайта*/

.main-header {
  background-color: #eeeeee;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.4;
}

/*Основная навигация*/

.main-navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 50px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 550px;
}

.site-navigation li {
  padding: 0 24px;
  margin-top: 10px;
}

.site-navigation a {
  padding-bottom: 10px;
}

.site-navigation-active-link {
  border-bottom: 2px solid #fb565a;
}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.cart-navigation {
  text-decoration: none;
}

.site-navigation a:hover,
.cart-navigation:hover {
  color: #fb565a;
}

.site-navigation a:active,
.cart-navigation:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-list {
  list-style: none;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.services-item p {
  margin-top: 12px;
  max-width: 280px;
}

.services-link {
  border: none;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-weight: 500;
  line-height: 18px;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  margin-top: 32px;
}

.services-link--red {
  background-color: #fb565a;
}

.services-link--red:hover {
  background-color: #e74246;
}

.services-link--red:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.6);
}

.services-link--green {
  background-color: #00ca74;
}

.services-link--green:hover {
  background-color: #00bc6c;
}

.services-link--green:active {
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.6);
}

.services-link--yellow {
  background-color: #efc84a;
}

.services-link--yellow:hover {
  background-color: #eab534;
}

.services-link--yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.6);
}

/*Секция с картой и адресом*/

.contacts-wrapper {
  background: #e1e1e1;
  padding: 50px 0 55px;
  position: relative;
}

.map {
  bottom: 0;
  height: 420px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.map-placeholder {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 1440px;
}

.contacts {
  background-color: #ffffff;
  box-sizing: border-box;
  height: 310px;
  padding: 52px;
  position: relative;
  width: 320px;
  z-index: 999;
}

.contacts-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 25px;
  text-transform: uppercase;
}

.contacts-details {
  color: #666666;
  font-style: normal;
  line-height: 18px;
}

.contacts-details span {
  display: block;
  margin-bottom: 19px;
}

.contacts-button {
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-weight: 500;
  line-height: 18px;
  margin: 36px auto 0px;
  padding: 16px 0;
  text-align: center;
  text-transform: uppercase;
  width: 220px;
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: #e74246;
}

.contacts-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 0, 0.1);
}

/* Попап */

.modal {
  background-color: #fff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  display: none;
  left: 50%;
  margin-left: -480px;
  padding: 65px 100px 80px;
  position: fixed;
  top: 120px;
  width: 960px;
  z-index: 1000;
}

.modal-visible {
  animation: bounce 0.6s;
  display: block;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 32px;
  opacity: 0.3;
  position: absolute;
  right: 85px;
  top: 80px;
  width: 32px;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:focus {
  opacity: 0.1;
  outline: none;
}

.modal-close::before,
.modal-close::after {
  background-color: #fb565a;
  content: "";
  height: 3px;
  left: 2px;
  position: absolute;
  top: 10px;
  width: 25px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/*Анимация для появления попапа*/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/*Анимация при ошибке заполнения формы*/

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/*Write us форма*/

.write-us-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.write-us-fields-heading {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 20px;
}

.write-us-row {
  display: flex;
  justify-content: space-between;
}

.write-us-field {
  width: calc(50% - 20px);
}

.write-us-textarea {
  width: 100%;
}

.write-us-fieldset label {
  font-weight: 700;
  margin-bottom: 10px;
}

.write-us-fieldset input,
.write-us-fieldset textarea {
  border: solid 2px #d7dcde;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 15px;
}

.write-us-fieldset input:hover,
.write-us-fieldset textarea:hover {
  border: solid 2px #b4b9bb;
}

.write-us-fieldset input:focus,
.write-us-fieldset textarea:focus {
  border: solid 2px #000000;
  outline: none;
}

.write-us-fieldset .field-error {
  border: solid 2px #e74246;
}

.write-us-fieldset textarea {
  width: 100%;
}

.write-us-field input {
  width: 100%;
}

.write-us-button {
  margin-top: 25px;
}

::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

/*Футер */

.footer-container {
  align-items: center;
  display: flex;
  padding-bottom: 54px;
  padding-top: 54px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 130px 0 0;
  padding: 0;
  width: 270px;
}

.footer-list li {
  list-style: none;
}

.footer-slogan {
  width: 545px;
}

.footer-item a {
  align-items: center;
  background-color: #e1e1e1;
  border-radius: 40px;
  display: flex;
  height: 80px;
  justify-content: center;
  line-height: 80px;
  margin-right: 10px;
  width: 80px;
}

.footer-item a:hover {
  background-color: #e74246;
}

.footer-item a:active {
  background-color: #d7363b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: #e26f74;
}

.footer-item a:active svg {
  opacity: 0.3;
}

.footer-slogan-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 5px;
  margin-top: 21px;
}

.footer-slogan-text {
  color: #444444;
  line-height: 22px;
  margin-top: 9px;
}

/*Секция с услугами*/

.services {
  padding: 80px 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.services-item {
  flex-basis: 300px;
  margin-right: 58px;
}

/*About us*/

.about-us-heading {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin-bottom: 33px;
  margin-top: 35px;
}

.about-us-subheading {
  font-weight: 700;
  margin-top: 40px;
  text-transform: uppercase;
}

.about-us-list {
  list-style: none;
  margin-top: 23px;
}

.about-us-list li {
  margin-bottom: 24px;
}

.about-us-numbers {
  width: 360px;
}

.about-us-numbers-heading {
  font-weight: 700;
  margin: 0;
  padding-bottom: 62px;
  text-transform: uppercase;
}

.about-us-table {
  border-spacing: 0;
  line-height: 18px;
  margin-top: 35px;
}

.about-us-table th {
  font-size: 45px;
  font-weight: 700;
  line-height: 11px;
  padding-bottom: 31px;
  text-align: left;
  width: 33.3333333%;
}

.about-us-table td {
  color: #283136;
  line-height: 18px;
  padding-top: 5px;
}

.about-us-table sup {
  font-size: 25px;
  top: -15px;
}

/*Секция о нас*/

.about-us-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 41px;
  border-top: 1px solid #bfbfbf;
}

.about-us {
  width: 700px;
  padding-right: 120px;
}

a.cart-navigation {
  position: relative;
  margin-top: 8px;
}

.cart-navigation::before {
  background-image: url("../img/cart-icon.svg");
  content: "";
  height: 15px;
  left: -40px;
  position: absolute;
  top: 7.5px;
  width: 15px;
}

.about-us-list li {
  position: relative;
}

.about-us-list li::before {
  background-color: red;
  content: "";
  font-weight: 500;
  height: 2px;
  left: -35px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 25px;
}

/*Слайдер*/

.slider {
  background-color: #eeeeee;
  position: relative;
}

.slider-controls {
  bottom: 104px;
  font-size: 0;
  height: 18px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 160px;
  z-index: 100;
}

.slider-controls label {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  padding: 8px;
  position: relative;
  vertical-align: middle;
  width: 18px;
}

.slider-controls label::after {
  background: #ffffff;
  border-radius: 50%;
  content: "";
  height: 18px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 18px;
  z-index: 1;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  padding: 48px 0 80px 0;
}

.slider-item-button {
  font-weight: 500;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-position: 93% 0;
  background-repeat: no-repeat;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-position: 100% 20px;
  background-repeat: no-repeat;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  content: "";
  height: 4px;
  left: 50%;
  margin: -4px;
  position: absolute;
  top: 50%;
  width: 4px;
  z-index: 2;
}

.slider-item h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  margin-bottom: 27px;
  max-width: 600px;
}

.slider-item p {
  margin: 0;
  margin-bottom: 38px;
  max-width: 430px;
}

.button {
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-weight: 500;
  line-height: 18px;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 240px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 0, 0.1);
}

/*Пагинация*/

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 12px;
}

.pagination-button {
  width: 260px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  background-color: #eeeeee;
  border-radius: 3px;
  display: block;
  font-weight: 500;
  line-height: 18px;
  padding: 16px 20px;
  text-decoration: none;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:focus,
.pagination-item a:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a {
  background-color: #ffffff;
  border: 2px solid #bfbfbf;
  color: #000000;
  padding: 14px 18px;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: #ffffff;
  color: #000000;
}

/*Секция с логотипом клиентов*/

.our-clients {
  margin-top: 50px;
  margin-bottom: 80px;
}

.our-clients-list {
  align-items: center;
  border-bottom: 1px solid #bfbfbf;
  border-top: 1px solid #bfbfbf;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding-bottom: 33px;
  padding-left: 0px;
  padding-top: 54px;
}

.our-clients-list li {
  position: relative;
  text-align: center;
  width: 25%;
}

.our-clients-list li img {
  opacity: 0.2;
}

.our-clients-list li:after {
  background-color: #eeeeee;
  content: '';
  display: block;
  height: 50px;
  margin-top: -25px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 2px;
}

.our-clients-list li:last-child:after {
  display: none;
}

.our-clients-list li:hover img {
  opacity: 1;
}

.our-clients-list li:active img {
  opacity: 0.1;
}

.our-clients-list li:last-child {
  border-right: none;
}

/*Страница каталога*/

.heading-block {
  background-color: #eeeeee;
  margin-bottom: 50px;
  padding: 46px 0 106px;
  text-align: center;
}

.heading-text {
  background-color: #eeeeee;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

/*Фильтры*/

.filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-type legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-item label {
  line-height: 20px;
}

.filter-button {
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  display: block;
  font-weight: 500;
  line-height: 18px;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 260px;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.6);
}

/* Единица каталога */

.catalog {
  margin-bottom: 60px;
}

.catalog-item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  list-style: none;
  margin-bottom: 33px;
  width: 360px;
}

.catalog-item img {
  border-top: none;
  box-sizing: border-box;
  max-width: 100%;
  vertical-align: top;
}

.catalog-item:hover {
  box-shadow: 6px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.catalog-item a {
  text-decoration: none;
}

/* Всплывающее окно с ценой*/

.catalog-item-info {
  background-color: #eeeeee;
  bottom: 0;
  box-sizing: border-box;
  color: #ffffff;
  min-height: 230px;
  left: 0;
  line-height: 18px;
  opacity: 0;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  position: absolute;
  right: 0;
  text-align: center;
  transition: 0.2s opacity;
  visibility: hidden;
  width: 360px;
}

.catalog-item:hover .catalog-item-info {
  opacity: 1;
  visibility: visible;
}

.catalog-item-title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0px auto;
  text-transform: uppercase;
  width: 185px;
}

.catalog-item-title:hover {
  color: #fb565a;
}

.catalog-item-title:active {
  color: #cacaca;
}

.catalog-item-subtitle {
  color: #666666;
  display: block;
  line-height: 18px;
  margin: 0px auto;
  max-height: 390px;
  padding-bottom: 30px;
  overflow-y: auto;
  width: 185px;
  word-break: break-all;
}

.catalog-button {
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  line-height: 18px;
  margin: 0 auto;
  padding: 16px 0;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
}

.catalog-button:hover {
  background-color: #e74246;
}

.catalog-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 27px 0;
  padding: 0;
  width: 760px;
}

.catalog-item {
  position: relative;
}

.catalog-item::before {
  background-image: url("../img/browser.svg");
  content: "";
  display: block;
  height: 40px;
  left: 0px;
  opacity: 0.12;
  position: relative;
  top: 0px;
  transition: opacity 0.2s;
  width: 360px;
}

.catalog-item:hover:before {
  opacity: 1;
}

/*Сортировка результатов*/

.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.sorting-list {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.sorting-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
  width: 50%;
}

.sorting-list-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  padding-right: 25px;
}

.sorting-list-item a {
  opacity: 0.3;
  text-decoration: none;
}

.sorting-list-item a:hover,
.sorting-list-item a:focus {
  opacity: 0.6;
}

.sorting-list-current a,
.sorting-list-item a:active {
  opacity: 1;
}

.catalog-buttons {
  align-items: center;
  display: flex;
}

.catalog-arrow {
  background-color: transparent;
  border-style: solid;
  cursor: pointer;
  height: 0;
  padding: 0;
  width: 0;
}

.catalog-arrow-down {
  border-color: #a6a6a6 transparent transparent;
  border-width: 10px 5.5px 0;
  margin-right: 16px;
  opacity: 0.2;
}

.catalog-arrow-down:hover {
  border-color: #a6a6a6 transparent transparent;
  opacity: 1;
}

.catalog-arrow-down:active,
.catalog-arrow-down:focus {
  border-color: #000000 transparent transparent;
  opacity: 1;
}

.catalog-arrow-up {
  border-color: transparent transparent #a6a6a6;
  border-width: 0 5.5px 10px;
  margin: 0;
  opacity: 0.2;
}

.catalog-arrow-up:hover {
  border-color: transparent transparent #a6a6a6;
  opacity: 1;
}

.catalog-arrow-up:active,
.catalog-arrow-up:focus {
  border-color: transparent transparent #000000;
  opacity: 1;
}

.catalog-arrow-active.catalog-arrow-down {
  border-color: #000000 transparent transparent;
  opacity: 1;
}

.catalog-arrow-active.catalog-arrow-up {
  border-color: transparent transparent #000000;
  opacity: 1;
}

/*Особенности Разметка сложного фильтра*/

.filter-item {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-cost {
  margin-bottom: 60px;
}

.filter-grid {
  margin-bottom: 36px;
}

.filter-features {
  margin-bottom: 30px;
}

.range-filter {
  margin-top: 37px;
  width: 260px;
}

.filter-item legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.range-controls {
  background-color: #f1f1f1;
  border-radius: 5px;
  height: 41px;
  margin-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 39px;
  position: relative;
}

.range-controls .scale {
  background: #d7dcde;
  height: 2px;
}

.range-controls .bar {
  background: #00ca74;
  height: 2px;
  width: 70%;
}

.range-controls .toggle {
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
  height: 4px;
  left: 0;
  padding: 0;
  position: absolute;
  top: 31px;
  width: 4px;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 50%;
}

.price-controls input {
  background: #f1f1f1;
  border: none;
  border-radius: 5px;
  color: #283136;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  width: 60px;
}

.max-price {
  text-align: right;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  line-height: 22px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 50%;
}

.price-controls input {
  background: #f1f1f1;
  border: none;
  border-radius: 5px;
  color: #283136;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  width: 60px;
}

.max-price {
  text-align: right;
}

/*Стилизация радиокнопок в виде псевдоэлементов- особенности*/

.radio-button,
.checkbox-field {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.radio-button+label,
.checkbox-field+label {
  padding-left: 35px;
  position: relative;
}

.checkbox-field+label::before {
  background-image: url("../img/checkbox-off.svg");
  content: "";
  height: 23px;
  left: 0px;
  margin-top: -11.5px;
  opacity: 0.4;
  position: absolute;
  top: 50%;
  transition: 0.2s opacity;
  width: 23px;
}

.checkbox-field:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
  width: 27px;
}

.radio-button+label::before {
  background-image: url("../img/radio-off.svg");
  content: "";
  height: 25px;
  left: 0px;
  margin-top: -12.5px;
  opacity: 0.4;
  position: absolute;
  top: 50%;
  transition: 0.2s opacity;
  width: 25px;
}

.radio-button:checked+label::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.4;
}

.radio-button+label:hover::before,
.checkbox-field+label:hover::before {
  opacity: 1;
}

.checkbox-field:disabled+label::before,
.radio-button:disabled+label::before {
  opacity: 0.1;
}

.radio-button:disabled+label,
.checkbox-field:disabled+label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-list li {
  margin-bottom: 15px;
}